<div id='login_form'>
  <h1>Login</h1>

  <%= form_for @user_session do |f| %>
      <%= render :partial => "shared/form_error_messages", :locals => { :model_object => @user_session} %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Login" %>
  <% end %>
</div>