<!DOCTYPE html>
<html>
<head>
  <title>MicropostApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    ﻿<div id="header">
      <%= link_to "MICROPOST", root_url, :class => "site-name" %>
      <div id="navigation">
        <%= link_to "All users", users_url %>
        <%= link_to "Sign up", new_user_url %>
      </div>
    </div>

    <div id="content">
      <%= yield %>
    </div>
</body>
</html>
